.TopPage{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .body{
    background: linear-gradient(90deg, rgb(211, 209, 226) 0%, rgb(155, 150, 224) 100%);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .BottomPage{
    margin-top: auto;
  }
  
  