.NavbarItems {
    background: linear-gradient(90deg, rgb(54, 54, 59) 0%, rgb(21, 26, 51) 100%);
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    justify-self: start;
    margin-left:  5px;
    cursor: pointer;
}

.fa-user{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 5rem;
    margin-left: 5 rem;
}

.nav-links{
    color: rgb(248, 239, 239);
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-size: 2rem;
}