
.header-post{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.single-post{
  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem, 1fr);
}

.credential-post{
  text-align: center;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #707070;

}

.media-post{
  grid-column: 1 / 4;
  width: 85%;
  max-width: 100ch;
  justify-self: center;
}

.content-post{
  grid-column: 2;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #707070;
}

.comment-header{
  height: 38px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;

  text-align: center;

  color: #1B3E80;

  grid-column: 2;
}

.comment-box{
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.comment-section{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.post-description{
  font-size: 25px;
}

.posted-by{
  font-size: 13px;
}