html, body {
    margin: 0;
    padding: 0;
    
}  

.top {
    padding-bottom: 500px;
}

.Wrapper {
    justify-content: center;
    align-items: center;
}

.Pg {
    font-size: 20px;
    font-family: Raleway;
    text-align: center;
}

.imgClass {
    width: 250px;
}

.col-guide {
    text-align: center;
    padding: 3rem 3rem;
}

.guide-content {
    padding-bottom: 10rem;
}

.title {
    font-size: 100 px;
}