html, body {
    margin: 0;
    padding: 0;
    
}  

.Wrapper {
    justify-content: center;
  align-items: center;
}

.p {
    font-size: 20px;
    text-align: center;
}

.imgClass {
    width: 250px;
}

/*
.col-bd {
    display: flex;
    margin: auto;
}
*/

.col-guide {
    text-align: center;
    padding: 3rem 3rem;
}

.title {
    font-size: 100 px;
}