.manual-title {
    text-align: center; 
    font-family: 'Raleway';
    font-size: 40px;
    color: rgb(34, 63, 124);
    padding-top: 5rem;
    padding-bottom: 0rem;
<<<<<<< HEAD
=======
    font-weight: bold;
>>>>>>> jiaao1
}

.subsection {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.subtitle {
    font-family: 'Raleway';
<<<<<<< HEAD
=======
    font-weight: bold;
>>>>>>> jiaao1
    font-size: 40px;
}

.content {
    padding: 3rem;
}

<<<<<<< HEAD
.list {
    font-family: 'Raleway';
    font-size: 30px;
    margin-bottom: 1rem;
}

=======

.list {
    font-family: 'Raleway';
    font-size: 25px;
    margin-bottom: 1rem;
    list-style-type: circle;
}




>>>>>>> jiaao1
.return-link {
    font-family: 'Raleway';
    font-size: 30px;
    margin-bottom: 5rem;
    text-align: center;
<<<<<<< HEAD
=======
    
>>>>>>> jiaao1
}